body{
    background-color: antiquewhite;
}
p{
    background-color: aquamarine;
}
a{
    background-color: rgb(142, 112, 112);
}
div{
    background-color: chocolate;
}
span{
    background-color: blue;
}
a{
    background-color: aqua;
}